@use "../helpers/" as *;

.video-card {
  display: grid;
  row-gap: rem(30);

  @include laptop {
    row-gap: rem(20);
  }

  &__body {
    display: grid;
    row-gap: fluid(10, 4);
  }

  &__button {
    margin-top: rem(30);
    align-self: flex-start;

    @include laptop {
      margin-top: rem(24);
    }

    @include tablet {
      margin-top: rem(20);
    }
  }
}
